<!DOCTYPE html>
<html>
<title>ITP classes!</title>
<link rel="stylesheet" type="text/css" href="style.css">
<body>
    <h3>thank you!</h3>
    <!-- // use <% %> tags for embedded JS -->
    <p>you submitted <%= response%></p>
    <p><a href='/display'>see all</a></p>
</body>
</html>